<!doctype html>
<html>

<head>
    <title>Temperature Chart</title>
    <script type="text/javascript" src="{{ url_for('static', filename='moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='Chart.min.js') }}"></script>
</head>

<body>

    <div>Hello world!</div>

    <canvas id="temperatureChart"></canvas>

    <script>
        var timeFormat = 'MM/DD/YYYY HH:mm';

        var colors = {
            red: 'rgb(255, 99, 132)',
            blue: 'rgb(54, 162, 235)'
        };

        var ctx = document.getElementById("temperatureChart");

        var dataT = [
            { t: new moment().days(0).minute(1), y: 19 },
            { t: new moment().days(1).minute(0), y: 18.3 },
            { t: new moment().days(1).minute(120), y: 21.6 },
            { t: new moment().days(1).minute(240), y: 20.1 },
            { t: new moment().days(2).minute(3), y: 21 },
            { t: new moment().days(3).minute(4), y: 22.5 },
            { t: new moment().days(4).minute(5), y: 20 },
            { t: new moment().days(5).minute(60), y: 19.2 },
        ]

        var dataH = [
            { t: new moment().days(0).minute(1), y: 69 },
            { t: new moment().days(1).minute(2), y: 75 },
            { t: new moment().days(2).minute(3), y: 78 },
            { t: new moment().days(3).minute(4), y: 82 },
            { t: new moment().days(4).minute(5), y: 72 },
            { t: new moment().days(5).minute(60), y: 65 },
        ]

        var config = {
            type: 'bar',
            data: {
                datasets: [
                    {
                        label: "Humidity",
                        data: dataH,
                        fill: false,
                        borderColor: colors.blue,
                        type: 'line',
                        yAxisID: 'yH',
                    },
                    {
                        label: "Temperature",
                        data: dataT,
                        fill: true,
                        backgroundColor: colors.red,
                        yAxisID: 'yT',
                    },
                ]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: "Temperature/Humidity Chart"
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                    }],
                    yAxes: [
                        {
                            id: 'yH',
                            type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                            display: true,
                            position: 'right',
                            ticks: {
                                beginAtZero: true
                            }
                        },
                        {
                            id: 'yT',
                            type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                            display: true,
                            beginAtZero: true,
                            position: 'left',
                            ticks: {
                                beginAtZero: true
                            }
                        },
                    ]
                }
            }
        };

        var tempChart = new Chart(ctx, config);
    </script>
</body>

</html>